*{
    font-family: 'Poppins', sans-serif;

}

.carousel-inner img{
    width: 100%;
    height: 500px;

}
body {

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.con{

    align-items: center;
    justify-content: space-around;
}


input[type="date"],
input[type="time"] {

    color: grey;
    width: 200px;
    height: 65px;
    border: none;
    background: transparent;
}

input[type="text"]{
    height: 65px;
    width: 100px;
    border:none;
    background: white;

}

.my-Container{
    display:flex;
}

.infobox{
    background-color:white;
    height: 70px;
    width:100%;
    margin: 0;

}
.textfields{
    margin: 0 auto;

}

 .my-col{
    background: #F8F8F8;
}
.my-row{
    height:300px;

}

h2{
    font-size:25px;
    font-weight: lighter;

}

#destination{
    width: 70%;
    border: 0px;
    margin: 0;

}


hr{
    background-color:#722f37;
    width:100%;

}

.searchInfo{

    border: 1px solid grey;
    width: 40%;
    margin-top:45px;
    margin-bottom: 60px;
    border-radius: 50px;
    overflow: auto;


}

.searchInfoBox{


    justify-content: center;

}
#searchlink {
    font-size: large;
    margin-top: 0px;
    margin-bottom: 30px;
}

button{

    border-radius: 20px;
    background: gray;
    border: 1px solid gray;
    color: white;
}

button:focus{

    outline:none;
}
a{
    color: grey;

}

a:hover{

    border-radius: 15px;
    overflow: auto;
    text-decoration: none;
    color:grey;
}

input:focus{

    border: 0px solid white;
    background-color: white;
    border: 0px solid


}

input{

background-color: transparent;
    border: 0px;
    outline: none;
}

.textfields{

    margin-bottom: 70px;

}