*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}
div{
    flex: 3;
}

.headertext{
    color: #6D6D6D;
    margin-left: 15px;
    margin-top: 20px;
}

nav{
    flex:2;
    margin-top: 25px;
}

.menue-links{
    justify-content: space-around;
    list-style: none;
    display: flex;

}
.menue-link{
    text-decoration: none;
    font-size: 18px;
    color: #6D6D6D;
}

#dropbtn{
    background-color: #d9534f;
    border: none;
}
