*{
    font-family: 'Poppins', sans-serif;

}
.carousel-inner img{
    width: 100%;
    height: 500px;

}

.con{

    align-items: center;
    justify-content: space-around;
}

input[type="date"],
input[type="time"] {

    color: black;
    width: 200px;
    height: 70px;
    border: none;
    background: lightgrey;
}

input[type="text"]{
    height: 70px;
    width: 300px;
    border:none;
    background: lightgrey;

}

.my-Container{
    display:flex;
}

.infobox{
    background-color:lightgrey;
    height: 70px;
    width:100%;
    margin-top: 100px;
    margin-bottom: 200px;
    margin
}


 .my-col{
    background: #F8F8F8;
}
.my-row{
    height:300px;

}

h2{
    font-size:25px;
    font-weight: light;

}

#destination{
    width: 70%;
    border: no border;

}

footer{

    display: flex;
    align-items: center;
    justify-content: space-around;
    background: lightgrey;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 80px;


}

#footerp{


    font-size: 12px;

}
