*{
    font-family: 'Poppins', sans-serif;

}

#websiteTitle{
    font-size: x-large;
    padding-bottom: 40px;
}

#searchlink {
    font-size: large;
    text-align: right;
}

#searchlink:hover{
    background-color: aqua;
    border-radius: 15px;
}